html
  head
    title OCR Placas ExpoBátiz 2017
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/master.css")
    block styles
  body
    nav.navbar.navbar-primary
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") OCR Placas ExpoBátiz 2017
        ul.nav.navbar-nav
          li
            a(href="/") Inicio
    block content
    script(src="js/jq.js")
    script(src="js/form.js")
    block scripts
